<a href="https://colab.research.google.com/github/techthumb1/DS-Unit-1-Sprint-3-Linear-Algebra/blob/master/module2-intermediate-linear-algebra/Dspt5_Jason_Robinson__LS_DS_132_Intermediate_Linear_Algebra_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics

## 1.1 Sales for the past week was the following amounts: [3505, 2400, 3027, 2798, 3700, 3250, 2689]. Without using library functions, what is the mean, variance, and standard deviation of of sales from last week? (for extra bonus points, write your own function that can calculate these two values for any sized list)

In [0]:
import math
import numpy as np
import pandas as pd
%matplotlib inline

In [0]:
#Mean
sales = [3505, 2400, 3027, 2798, 3700, 3250, 2689]
mean_sales = sum(sales)/len(sales)
print('Mean sales:', mean_sales)

Mean sales: 3052.714285714286

In [0]:
#Variance
# It is best to use a function but we can use lambda for elagancy and speed
def sub_mean(number):
    return number-variance
lambda x: x-variance

In [0]:
# Map the function to the list
distances = list(map(sub_mean, variance))

TypeError: 'float' object is not iterable

In [0]:
# Square the list then sum 
squared = list(map(lambda x: x**2, distances))

In [0]:
# Now we need to determine the length of our lists, the sample and entire population
list_length=len(squared_distances)-1
list_length=len(squared_distances)

In [0]:
# Now we are able to calculate the difference in the sample pop., 
#and  the entire population 
# calculate variance
variance_widgets = sum(squared_distances)/list_length
print('{:.2f}'.format(variance_widgets,3))

In [0]:
#Standard deviation
print(math.sqrt(variance))

428.67360686714756

In [0]:
#Check work with numpy
print('{:.2f}'.format(np.mean(sales)))
print('{:.2f}'.format(np.var(sales)))
print('{:.2f}'.format(np.std(sales)))

3052.71
183761.06
428.67

## 1.2 Find the covariance between last week's sales numbers and the number of customers that entered the store last week: [127, 80, 105, 92, 120, 115, 93] (you may use librray functions for calculating the covariance since we didn't specifically talk about its formula)

In [0]:
customers = [127, 80, 105, 92, 120, 115, 93]
print('{:.2f}'.format(np.cov(customers, sales)[0][1]))

7604.36

## 1.3 Find the standard deviation of customers who entered the store last week. Then, use the standard deviations of both sales and customers to standardize the covariance to find the correlation coefficient that summarizes the relationship between sales and customers. (You may use library functions to check your work.)

In [0]:
customers = [127, 80, 105, 92, 120, 115, 93]
print('{:.2f}'.format(np.std(customers)))

15.79

## 1.4 Use pandas to import a cleaned version of the titanic dataset from the following link: [Titanic Dataset](https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_clean.csv)

## Calculate the variance-covariance matrix and correlation matrix for the titanic dataset's numeric columns. (you can encode some of the categorical variables and include them as a stretch goal if you finish early)

In [0]:
#Load titanic dataset using pandas
import pandas as pd

titanic = pd.read_csv('https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_clean.csv')
titanic.head()

,Unnamed: 0,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,has_cabin_number
0,1,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO",1
1,2,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON",1
2,3,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1
3,4,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",1
4,5,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",1

In [0]:
# Dataframe of the covariance matrix 
titanic.cov()

In [0]:
#Correalation matrix
titanic.corr()

# Orthogonality

## 2.1 Plot two vectors that are orthogonal to each other. What is a synonym for orthogonal?

In [0]:
import matplotlib.pyplot as plt
%matplotlib inline

v=[-2, 4]
w=[-2,-1]

fig, ax = plt.subplots(figsize=(5,5))
ax.grid()
plt.xlim(-3,5)
plt.ylim(-3,5)
plt.arrow(0,0, v[0], v[1], 
            head_width=.2, 
            head_length=0.2, 
            linewidth=4)
plt.arrow(0,0, w[0], w[1], 
            head_width=.2, 
            head_length=0.2, 
            linewidth=4)

plt.show()

In [0]:
# Check to see if dot product returns 0, a necessary requirement to determine orthogonality
# As we can see the value are equivalent to zero
v=[-2, 4]
w=[-2,-1]
np.dot(v, w)

## 2.2 Are the following vectors orthogonal? Why or why not?

\begin{align}
a = \begin{bmatrix} -5 \\ 3 \\ 7 \end{bmatrix}
\qquad
b = \begin{bmatrix} 6 \\ -8 \\ 2 \end{bmatrix}
\end{align}

In [0]:
#No the dot product of the two vectors does not equal to 0 
a = [-5, 3, 7]
b = [6,-8, 2]

np.dot(a,b)

## 2.3 Compute the following values: What do these quantities have in common?

## What is $||c||^2$? 

## What is $c \cdot c$? 

## What is $c^{T}c$?

\begin{align}
c = \begin{bmatrix} 2 & -15 & 6 & 20 \end{bmatrix}
\end{align}

In [0]:
c = np.array([2, -15, 6, 20])
c

array([  2, -15,   6,  20])

In [0]:
#c*c is the dot product
c1 = np.linalg.norm(c)
c1

25.787593916455254

In [0]:
#cTc is the transpose with the inverse returning the original value
c2 = print(c1**2)
c2

665.0

# Unit Vectors

## 3.1 Using Latex, write the following vectors as a linear combination of scalars and unit vectors:

\begin{align}
d = \begin{bmatrix} 7 \\ 12 \end{bmatrix}
\qquad
e = \begin{bmatrix} 2 \\ 11 \\ -8  \end{bmatrix}
\end{align}

\begin{align}
f = \begin{bmatrix} 7 \\ 12 \end{bmatrix}
\qquad
\end{align}

## 3.2 Turn vector $f$ into a unit vector:

\begin{align}
f = \begin{bmatrix} 4 & 12 & 11 & 9 & 2 \end{bmatrix}
\end{align}

In [0]:
#Create an array out of f
f = np.array([4, 12, 11, 9, 2])
f

In [0]:
#Want to find out how long the vector is by first finding the norm
norm_f = np.linalg.norm(f)
norm_f

In [0]:
#Take the initial array over the norm to get a new vector
f_hat = f/np.linalg.norm(f)
f_hat

In [0]:
#The new vector's length or norm is extremely close to 1.0, which is where we 
#want it in order to more easily compare vectors
f_hat_norm = np.linalg.norm(f_hat)
f_hat_norm

# Linear Independence / Dependence

## 4.1 Plot two vectors that are linearly dependent and two vectors that are linearly independent (bonus points if done in $\mathbb{R}^3$).

In [0]:
#Plotting the linearly dependent vectors
plt.xlim(-5,10)
plt.ylim(-15,10)

v = [3,4]
v1 = [2,1]
v2 = np.multiply(2,v)
v3 = np.multiply(-1,v)

ax.grid()
axes = plt.gca()
x_vals = np.array(axes.get_xlim())
y_vals = 0*x_vals

plt.arrow(0,0,v[0],v[1], head_width=.50, head_length=.50, linewidth=3, color='red',)
plt.arrow(0,0,v2[0],v2[1], head_width=.50, head_length=.50, linewidth=3, color='blue', alpha=0.5)
plt.arrow(0,0,v3[0],v3[1], head_width=.50, head_length=.50, linewidth=3, color='yellow');

In [0]:
#Linear independent
plt.xlim(-3,5)          
plt.ylim(-2,4)

v = [4,1.5] 
v1 = [-2,3]

plt.arrow(0,0, v[0], v[1], linewidth=5, head_width=.3, head_length=0.3, color ='limegreen')
plt.arrow(0,0, v1[0], v1[1], linewidth=5, head_width=.3, head_length=0.3, color ='firebrick');

# Span

## 5.1 What is the span of the following vectors?

\begin{align}
g = \begin{bmatrix} 1 & 2 \end{bmatrix}
\qquad
h = \begin{bmatrix} 4 & 8 \end{bmatrix}
\end{align}

In [0]:
#Create two vectors
g = np.array([1,2])
h = np.array([4,8])
print(g,'\n', h)

In [0]:
#The span of the two vectors are linearly dependent
fig, ax = plt.subplots(figsize=(4,5))
ax.grid()
plt.xlim(-1,9)          
plt.ylim(-1,9)

#For more pythonic code use a function
for vect in [g, h]:
    plt.arrow(0,0,
              vect[0], 
              vect[1], 
              head_width=.10, 
              head_length=.10, 
              linewidth=5, 
              color='fuchsia')

## 5.2 What is the span of $\{l, m, n\}$?

\begin{align}
l = \begin{bmatrix} 1 & 2 & 3 \end{bmatrix}
\qquad
m = \begin{bmatrix} -1 & 0 & 7 \end{bmatrix}
\qquad
n = \begin{bmatrix} 4 & 8  & 2\end{bmatrix}
\end{align}

In [0]:
l = np.array([1,2,3])
m = np.array([-1,0,7])
n = np.array([4,8,2])
print(l,'\n', m, '\n',n)

The span is linearly indepedent

In [0]:
fig, ax = plt.subplots(figsize=(4,4))
ax.grid()
plt.xlim(-4,10)          
plt.ylim(-4,10)

for vect in [l, m, n]:
    plt.arrow(0,vect[0],
              vect[1], 
              vect[2], 
              head_width=.10, 
              head_length=.10, 
              linewidth=5, 
              color='fuchsia')

# Basis

## 6.1 Graph two vectors that form a basis for $\mathbb{R}^2$

In [0]:
#R**2 stands for two-dimensional space

vector_1 = [4,2,2]
vector_2 = [1,6,2]

fig,ax = plt.subplots()
ax.grid()
plt.xlim(-1,7)
plt.ylim(-1,7)
plt.arrow(0,0,vector_1[0], vector_1[1], head_width=.02, head_length=.02, linewidth=3)
plt.arrow(0,0,vector_2[0], vector_2[1], head_width=.02, head_length=.02, linewidth=3);

## 6.2 What does it mean to form a basis?

# Rank

## 7.1 What is the Rank of P?

\begin{align}
P = \begin{bmatrix} 
1 & 2 & 3 \\
 -1 & 0 & 7 \\
4 & 8  & 2
\end{bmatrix}
\end{align}

## 7.2 What does the rank of a matrix tell us?

# Linear Projections

## 8.1 Line $L$ is formed by all of the vectors that can be created by scaling vector $v$ 
\begin{align}
v = \begin{bmatrix} 1 & 3 \end{bmatrix}
\end{align}

\begin{align}
w = \begin{bmatrix} -1 & 2 \end{bmatrix}
\end{align}

## find $proj_{L}(w)$

## graph your projected vector to check your work (make sure your axis are square/even)

# Stretch Goal

## For vectors that begin at the origin, the coordinates of where the vector ends can be interpreted as regular data points. (See 3Blue1Brown videos about Spans, Basis, etc.)

## Write a function that can calculate the linear projection of each point (x,y) (vector) onto the line y=x. run the function and plot the original points in blue and the new projected points on the line y=x in red. 

## For extra points plot the orthogonal vectors as a dashed line from the original blue points to the projected red points.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

# Creating a dataframe for you to work with -Feel free to not use the dataframe if you don't want to.
x_values = [1, 4, 7, 3, 9, 4, 5 ]
y_values = [4, 2, 5, 0, 8, 2, 8]

data = {"x": x_values, "y": y_values}

df = pd.DataFrame(data)

df.head()

plt.scatter(df.x, df.y)
plt.show()